.accordion-wrapper {
  padding-bottom: 25px;
}

.accordion-header {
  background-color: var(--light-color);
  padding: 15px 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;

  &.is-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.accordion-title {
  font-size: 18px;
  margin: 0;
}

ion-icon {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  color: var(--accent-mono-color);
  transition: 0.2s;

  &:hover {
    color: var(--accent-comp-color);
  }
}
